@use '../utilities/typography' as *;
@use '../utilities/colors' as *;

.services {

    position: relative;

    h2 {
        color: $main-color;
        font-size: 40px;
        font-weight: 700;
        font-style: italic;
    }

    .service:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 12px;
        background: url('../../dist/assets/images/Services/جوهرة لأركان.svg') no-repeat;
    }

    .service {
        padding-left: 40px;

        h5 {
            margin-bottom: 5px;
            margin-top: 15px;
            font-weight: 700;
        }

        p {
            margin-bottom: 10px;
        }
    }

}